/* color variables */

:root {
    --body-bg: #fffffe;
    --form-bg: #f9f4ef;
    --headline: #020826;
    --paragraph: #716040;
    --button: #8c7851;
    --button-text: #fffffe;
}

/* utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 2px solid red;
}

/* general */

body {
    background-color: var(--body-bg);
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.top-section-container {
    background-color: var(--pale-grey);
    border: 3px solid var(--button);
    border-radius: 0.4rem 0.4rem 0 0;
    height: 3.5rem;
}

.inner-border-bottom-radius {
    border: 1px solid var(--light-grey);
    border-radius: 0 0 0.4rem 0.4rem;
}

.todo-bottom-container {
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: 0.4rem;
}


form {
    width: 100%;
    margin: 0 auto;
    background-color: var(--form-bg);
    border-radius: 0 0 1rem 1rem;
}

h1 {
    color: var(--button);
    padding-top: 1rem;
}

p {
    text-align: center;
}

.button-ticket {
    background-color: var(--button);
    color: var(--button-text)
}

